.maskFluid {
  mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><path fill='%23000' d='M54.1,-63.9C69.6,-51.2,81.2,-33.1,84.7,-13.6C88.2,5.9,83.6,26.8,71.7,43.2C59.8,59.6,40.6,71.5,20.4,76.9C0.2,82.3,-21.1,81.2,-39.8,73.1C-58.5,65,-74.6,49.9,-81.6,31.4C-88.6,12.9,-86.5,-9,-77.4,-27.1C-68.3,-45.2,-52.2,-59.5,-35.2,-71.4C-18.2,-83.3,0.3,-92.8,18.8,-89C37.3,-85.2,54.1,-63.9,54.1,-63.9Z' transform='translate(100 100)' /></svg>");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><path fill='%23000' d='M54.1,-63.9C69.6,-51.2,81.2,-33.1,84.7,-13.6C88.2,5.9,83.6,26.8,71.7,43.2C59.8,59.6,40.6,71.5,20.4,76.9C0.2,82.3,-21.1,81.2,-39.8,73.1C-58.5,65,-74.6,49.9,-81.6,31.4C-88.6,12.9,-86.5,-9,-77.4,-27.1C-68.3,-45.2,-52.2,-59.5,-35.2,-71.4C-18.2,-83.3,0.3,-92.8,18.8,-89C37.3,-85.2,54.1,-63.9,54.1,-63.9Z' transform='translate(100 100)' /></svg>");
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}
