.root {}

.heroVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(3.42);
  transform-origin: center;
}

@media (min-width: 640px) {
  .heroVideo {
    transform: scale(2.55);
  }
}

@media (min-width: 768px) {
  .heroVideo {
    transform: scale(2.05);
  }
}

@media (min-width: 1024px) {
  .heroVideo {
    transform: scale(1.58);
  }
}

:global([data-design-page="diagnoza-celulara"] .material-symbols-outlined) {
            font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
        }
        
        :global([data-design-page="diagnoza-celulara"] .mask-blob) {
            mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23000" d="M44.7,-76.4C58.8,-69.2,71.8,-59.1,81.3,-46.3C90.8,-33.5,96.7,-18.1,96.1,-3C95.4,12.1,88.2,26.7,78.3,38.7C68.4,50.7,55.8,60.1,41.9,68.4C28,76.7,14,83.9,-0.6,84.9C-15.2,85.9,-30.4,80.7,-43.3,71.8C-56.2,62.9,-66.8,50.3,-74.6,36.4C-82.4,22.5,-87.4,7.3,-86,-7.3C-84.6,-21.9,-76.8,-35.9,-66.5,-47C-56.2,-58.1,-43.4,-66.3,-29.9,-72.6C-16.4,-78.9,-2.2,-83.3,11.5,-81C25.2,-78.7,30.6,-83.6,44.7,-76.4Z" transform="translate(100 100)" /></svg>');
            mask-size: cover;
            mask-position: center;
            mask-repeat: no-repeat;
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23000" d="M44.7,-76.4C58.8,-69.2,71.8,-59.1,81.3,-46.3C90.8,-33.5,96.7,-18.1,96.1,-3C95.4,12.1,88.2,26.7,78.3,38.7C68.4,50.7,55.8,60.1,41.9,68.4C28,76.7,14,83.9,-0.6,84.9C-15.2,85.9,-30.4,80.7,-43.3,71.8C-56.2,62.9,-66.8,50.3,-74.6,36.4C-82.4,22.5,-87.4,7.3,-86,-7.3C-84.6,-21.9,-76.8,-35.9,-66.5,-47C-56.2,-58.1,-43.4,-66.3,-29.9,-72.6C-16.4,-78.9,-2.2,-83.3,11.5,-81C25.2,-78.7,30.6,-83.6,44.7,-76.4Z" transform="translate(100 100)" /></svg>');
            -webkit-mask-size: cover;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
        }

        :global([data-design-page="diagnoza-celulara"] .mask-fluid) {
            mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23000" d="M54.1,-63.9C69.6,-51.2,81.2,-33.1,84.7,-13.6C88.2,5.9,83.6,26.8,71.7,43.2C59.8,59.6,40.6,71.5,20.4,76.9C0.2,82.3,-21.1,81.2,-39.8,73.1C-58.5,65,-74.6,49.9,-81.6,31.4C-88.6,12.9,-86.5,-9,-77.4,-27.1C-68.3,-45.2,-52.2,-59.5,-35.2,-71.4C-18.2,-83.3,0.3,-92.8,18.8,-89C37.3,-85.2,54.1,-63.9,54.1,-63.9Z" transform="translate(100 100)"/></svg>');
            mask-size: cover;
            mask-position: center;
            mask-repeat: no-repeat;
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="%23000" d="M54.1,-63.9C69.6,-51.2,81.2,-33.1,84.7,-13.6C88.2,5.9,83.6,26.8,71.7,43.2C59.8,59.6,40.6,71.5,20.4,76.9C0.2,82.3,-21.1,81.2,-39.8,73.1C-58.5,65,-74.6,49.9,-81.6,31.4C-88.6,12.9,-86.5,-9,-77.4,-27.1C-68.3,-45.2,-52.2,-59.5,-35.2,-71.4C-18.2,-83.3,0.3,-92.8,18.8,-89C37.3,-85.2,54.1,-63.9,54.1,-63.9Z" transform="translate(100 100)"/></svg>');
            -webkit-mask-size: cover;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
        }
